/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require store/spree_core
 *= require store/spree_auth
 *= require store/spree_api
 *= require store/spree_promo

 *= require_self
 *= require_tree .
 *= require store/spree_reviews_rating
 *= require themes/default/default
 *= require themes/pascal/pascal
 *= require themes/orman/orman
 *= require nivo-slider


 *= require jquery-ui.datepicker
 * require store/spree_banner
 * require store/overlays_login
 * require store/spree-flexi-variants
*/
