ul#promos li {
    text-align: left;
    margin-bottom: 5px;
    font-weight: normal;
    /*height: 183px;*/
    min-width: 718px;
    vertical-align: top;
    border: 1px solid #D9D9DB;
    display: inline-block;
}

ul#promos li a {
    display: block;
    font-family: arial, helvetica, sans-serif;
}

ul#promos li:hover {
    border: 1px solid #EE8100;
}

ul#promos .promo-image {
    height: 159px;
    width: 214px;
    border: 3px solid #c5c5c5;
}



/*-------------------BLOQUES--------------------------------------------------*/

div#block-one {
    margin: 10px 9px 10px 10px;
}

div#block-two {
    margin: 10px 10px 10px 9px;
}

div#description {
    margin-bottom: 10px;
    /*border-bottom: 1px dotted #c5c5c5;*/
    padding-bottom: 3px;
}

div#details {
    height: 20px;
    margin: 0px;
}

div#price {
    height: 50px;
    background-color: #f2f2f2;
}


/*--------------------------------TEXTOS--------------------------------------*/

a.promo-name{
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #4d4d4d;
}

a:link.promo-link{
    /*text-decoration: none;*/
    /*font-family: arial;*/
    /*font-size: 11px;*/
    /*font-weight: normal;*/
    color: #1D95CB;
    /*line-height: 16px;*/
}

div#description a:link.promo-link-in{
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #1D95CB;
    display: inline;
    line-height: 16px;
}

.promo-text {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #4d4d4d;
    line-height: 16px;
    text-align: justify;
    padding: 0px;
}


.promo-info {
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #808080;
    line-height: 16px;
}

.promo-info-in {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    color: #808080;
}


div#details .promo-text-button {
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    height: 15px;
}


/*---------------------------------LISTAS-------------------------------------*/

ul#promo-head {
    margin: 0px;
    padding: 0px;
}

ul#promo-head li {
    border: none;
}

ul#promo-head li:hover {
    border: none;
    border-right: 1px solid #c5c5c5;
}

ul#promo-head li {
    min-height: 10px;
    min-width: 10px;
    margin: 0px;
    border-right: 1px solid #c5c5c5;
    padding: 0px 10px 0px 10px;
}

ul#promo-head>li:first-of-type {
    padding: 0px 10px 0px 0px;
}

ul#promo-head>li:last-of-type {
    border: none;
    padding: 0px 0px 0px 10px;
}

ul#promo-head ul.promo-data li {
    min-height: 10px;
    min-width: 10px;
    margin: 0px 7px 0px 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;
}

ul#promo-head ul.promo-data>li:last-of-type {
    margin: 0px;
}


div#details ul#promo-detail-icon {
    height: 15px;
    width: 14px;
    padding-right: 5px;
    margin: 0px;
    float: left;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #ffffff;
}

div#details ul#promo-detail-icon li {
    min-height: 10px;
    min-width: 10px;
    float: left;
    margin: 0px;
    border: none;
}

div#details ul#promo-detail-text {
    height: 15px;
    width: 54px;
    padding-left: 5px;
    margin: 0px;
    float: left;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #ffffff;

}

div#details ul#promo-detail-text li {
    min-height: 10px;
    min-width: 10px;
    float: left;
    margin: 0px;
    border: none;
}

div#options ul.promo-option {
    min-height: 10px;
    min-width: 10px;
    padding: 0px;
    margin: 0px;
}

div#options ul.promo-option li {
    min-height: 10px;
    min-width: 10px;
    margin: 0px;
    border: none;
}


/*--------------------------BOTONES-------------------------------------------*/

/*
.go-to-detail-button {
    min-height: 14px;
    min-width: 80px;
    padding: 3px 10px 3px 10px;
    margin-bottom: 10px;
    background-color: #c5c5c5;
}

.add-to-cart-button {
    background-color: #EE8100;
    border: none;
}


*/
/*---------------------------------ICONOS-------------------------------------*//*


.icon-stars {
    height: 14px;
    width: 67px;
    background-image: url('iconografia.png');
    background-position: 71px 59px;
}

.icon-destination {
    height: 16px;
    width: 15px;
    background-image: url('iconografia.png');
    background-position: 16px -1px;
}

.icon-tripadvisor {
    height: 15px;
    width: 67px;
    background-image: url('iconografia.png');
    background-position: 71px 59px;
}

.icon-calendar {
    height: 17px;
    width: 15px;
    background-image: url('iconografia.png');
    background-position: 160px 54px;
}


.icon-check {
    height: 15px;
    width: 14px;
    background-image: url('iconografia.png');
    background-position: 140px -2px;
}

.icon-info {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: 143px 108px;
}

li.icon-detail {
    height: 13px;
    width: 7px;
    background-image: url('detalle.png');
    background-position: 8px 0px;
    margin: 0px;
}

.icon-buy {
    height: 13px;
    width: 14px;
    background-image: url('detalle.png');
    background-position: 0px 0px;
    margin: 0px;
}
*/


















/*///////////////////////////-------------------------------------------------*/

.title_products_promotions{
    height: 40px;
    background-color: #f2f2f2;
    margin: 5px 10px 0px 10px;
}

.title_products_promotions li{
    font-family: Bebas Neue;
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
    color: #808080;
}

.title_products_promotions li p{
    float: left;
    display: inline;
    margin-left: 5px;
}

.title_products_promotions li img.rigth{
    float: right;
    display: inline;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-image: url("iconografia.png");
    background-position: -35px -71px;

}

.title_products_promotions li img.left_promos{
    float: left;
    display: inline;
    width: 26px;
    height: 26px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-image: url("iconografia.png");
}

.p-background-position-programs                    { background-position: -79px -25px; }
.p-background-position-tours                       { background-position: -79px -50px; }
.p-background-position-flights                     { background-position: -79px -75px; }
.p-background-position-accommodation               { background-position: -79px -100px; }
.p-background-position-cars-and-transfers          { background-position: -79px -125px; }
.p-background-position-promotion                   { background-position: -79px 0px; }
.p-background-position-slider                      { background-position: -79px 0px; }

.promotions_images {
    padding: 0px 5px 0px 5px;
}

.promotions_images img{
    height: 120px;
    width: 220px;
    border-bottom: 1px solid #81a521;
    margin-bottom: 10px;
}

.promotions_images a{
    margin: 0;
    padding: 0;
}