.mas_valorados_sidebar{
    border: 1px solid #c5c5c5;
    margin: 0px;
}

.title_valorados_products{
    height: 40px;
}

.title_valorados_products li{
    /*float: left;*/
    /*display: inline;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;*/
    font-family: Bebas Neue;
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
    color: #808080;
}

.title_valorados_products li p{
    float: left;
    display: inline;
    /*margin-top: 10px;*/
    margin-left: 5px;
    padding-top: 13px;
}

.title_valorados_products li img.left_valorados{
    float: left;
    display: inline;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-image: url("iconografia.png");
}

.v-background-position-programs                    { background-position: -143px -17px; }
.v-background-position-tours                       { background-position: -143px -35px; }
.v-background-position-flights                     { background-position: -143px 1px; }
.v-background-position-accommodation               { background-position: -143px -53px; }
.v-background-position-cars-and-transfers          { background-position: -143px 1px; }
.v-background-position-promotion                   { background-position: -143px -71px; }
.v-background-position-slider                      { background-position: -143px 1px; }

.title_valorados_products li img.left_recomendation{
    float: left;
    display: inline;
    width: 26px;
    height: 26px;
    margin-top: 8px;
    margin-left: 8px;
    background-repeat: no-repeat;
    background-image: url("iconografia.png");
}

.r-background-position-programs                    { background-position: -53px -25px; }
.r-background-position-tours                       { background-position: -53px -50px; }
.r-background-position-flights                     { background-position: -53px 0px; }
.r-background-position-accommodation               { background-position: -53px -100px; }
.r-background-position-cars-and-transfers          { background-position: -53px -125px; }
.r-background-position-promotion                   { background-position: -53px -75px; }
.r-background-position-slider                      { background-position: -53px 0px; }

.listado_valorados{
    /*border-top: 3px solid #ed8000;*/
    padding-top: 5px;
}

.listado_valorados ul{
    margin: 0px 0px 0px 5px;
    padding: 0;
    list-style: none;
    display: inline-block;
    border-bottom: 1px dotted #c5c5c5;
    min-height: 50px;
}

.listado_valorados ul:last-of-type {
    border: none;
}

.listado_valorados ul li{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.listado_valorados ul li#number_val{
    font-family: bebas neue;
    font-size: 24px;
    font-weight: normal;
    color: #c5c5c5;
    width: 20px;
    margin-top: 15px;
    margin-left: 5px;
}

.listado_valorados ul li#name_val{
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #1d95cb;
    margin-left: 0px;
    width: 140px;
}

.listado_valorados ul li#name_val p, .listado_valorados ul li#price_val p{
    padding: 0;
    margin: 0;
    display: inline-block;
}

.listado_valorados ul li#name_val p {
    min-width: 145px;
}

.listado_valorados ul li#price_val p {
    width: 42px;
    text-align: right;
}

.listado_valorados ul li#price_val{
    /*position: relative;
    clear: left;*/
    float: right;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #4d4d4d;
    /*margin-bottom: 15px;*/
    margin-left: 5px;
    margin-right: 5px;

}

ul#opinion {
    min-height: 14px;
    padding: 0;
    margin: 0;
    border: none;
}

ul#opinion li{
    min-height: 14px;
    padding: 0;
    margin: 0 5px 0 0;
}

#recomended_sidebar {
    min-height: 25px;
    min-width: 215px;
}
