body {

  font-family: arial, helvetica, sans-serif;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain

}

#booking_date, #pax_amount {
    margin-top: 10px;
    border: 1px solid #D9D9DB;
    padding: 10px;
}

#booking_date legend, #pax_amount legend {
    text-transform: uppercase;
    font-weight: bold;
    color: #00ADEE;
    font-size: 14px;
    padding: 5px;
    margin-left: 15px;
}

table tbody tr, table tfoot tr {
    border-bottom: none
}