div#sidebar_filters {
    padding: 10px 10px 25px 10px;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

div#title_sidebar_filters p {
    font-family: Bebas Neue;
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
    color: #808080;
    padding: 0px;
}

div#body_sidebar_filters ul {
    padding-bottom: 5px;
    border-bottom: 1px solid #979797;
}

div#body_sidebar_filters p {
    padding: 5px 0px 0px 0px;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid #bdbdbd;
}

div#body_sidebar_filters input.filter-name {
    margin-bottom: 5px;
    width: 206px;
}

div#body_sidebar_filters>p:first-of-type {
    border-top: none;
}

div#buttons_sidebar_filters {
    padding: 10px 0px 0px 0px;
    border-top: 1px solid #bdbdbd;
}

div#buttons_sidebar_filters .apply-search {
    float: left;
    background-color: #f2f2f2;
    border: none;
    padding: 0px;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #1d95cb;
    margin-top: 2px;
}

div#buttons_sidebar_filters .clear-search {
    float: right;
    background-color: #f2f2f2;
    border: none;
    padding: 0px;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #1d95cb;
    margin-top: 2px;
}

div#buttons_sidebar_filters .apply-search:hover, div#buttons_sidebar_filters .clear-search:hover {
    color: #1d95cb !important;
}

div#buttons_sidebar_filters div#icon-apply-search {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -36px -36px;
    float: left;
    margin-right: 5px;
    display: inline-block;
}

div#buttons_sidebar_filters div#icon-clear-search {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -36px -18px;
    float: right;
    margin-right: 5px;
    display: inline-block;
}
