.title_group_products{
    height: 40px;
    background-color: #f2f2f2;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    /*border-top: 3px solid #ed8000;*/
}

.info_per_day {
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    color: #4d4d4d;
    margin-left: 2px;
    display: inline-block;
}

.price_note {
    color: #808080 !important;
    margin: 0px !important;
    padding: 0px !important;
    margin-left: 5px !important;
    font-size: 20px !important;
}

.title_group_products li{
    font-family: Bebas Neue;
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
    color: #808080;
}

.title_group_products li p{
    float: left;
    display: inline;
    margin-left: 10px;
}

.title_group_products li img.left{
    float: left;
    display: inline;
    width: 26px;
    height: 26px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-image: url("iconografia.png");
    background-position: -54px 0px;

}

.title_group_products li img.rigth{
    float: right;
    display: inline;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-image: url("iconografia.png");
    background-position: -35px -71px;

}

#product_element {
    margin-bottom: 15px;
    border-bottom: 1px solid #ffffff;
}

#product_element_border {
    margin: 0px;
    padding: 0px;
    height: 0px;
    border-top: 1px solid #c9c9c9;
}

/*#products_grid li:last-child{
    border-bottom: none;
}*/

.product_image{
    border-bottom: 1px solid #c9c9c9;
}

.product_image img{
    width: 214;
    height: 165;
    border: 3px solid #ffffff;
}

.product_name{
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #4d4d4d;
    margin-top: 10px;
    /*margin-left: 10px;*/
    padding: 0;
    /*text-transform: capitalize;*/
    /*height: 36px;*/
}

.product_name a:visited {
    color: #4d4d4d;
}

.dias_parents{
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #4d4d4d;
    margin-top: 0px;
    /*margin-left: 10px;*/
    margin-bottom: 5px;
    padding: 0;
}

.dias_parents a{
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #1d95cb;
}

/*.intermedio{
    border-bottom: 1px solid #666666;
}*/

ul.info_icons{
    height: 58px;
    padding-top: 10px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #c9c9c9;
}

ul.info_compra{
    border-right: 1px solid #ffffff;
    float: left;
}

ul.opcionicon_price{
    border-left: 1px solid #c9c9c9;
    float: left;
    margin-bottom: 10px;
    width: 109px;
}

ul.opcionicon_price li{
    /*border-left: 1px solid #666666;*/
    float: left;
    /*margin-bottom: 10px;*/
    width: 99px;
    margin-left: 10px;
    height: 20px;
}

ul.opcionicon_price li#opcionicon{
    margin-bottom: 10px;
}

ul.opcionicon_price li#price p{
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: Bebas Neue;
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
    color: #4d4d4d;
}

ul.opcionicon_price li#price label{
    float: left;
    margin-left: 5px;
    padding-top: 2px;
    font-family: Bebas Neue;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: #4d4d4d;
}

ul.opcionicon_price img{
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-image: url("iconografia.png");
}

ul.opcionicon_price img#op1{
    background-position: 2px 1px;
}

ul.opcionicon_price img#op2{
    background-position: 2px -71px;
}

ul.opcionicon_price img#op3{
    background-position: 2px -89px;
}

.info_compra li{
    height: 18px;
    width: 99px;
    margin-right: 10px;
}

.icon_compra li{
    height: 18px;
    width: 99px;
    margin-right: 10px;
}

.info_compra li a{
    /*width: 110px;*/
    /*display: block;*/
    font-family: arial, helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    /*padding: 0;*/
    margin: 0;
    /*border-left: 1px solid #ffffff;*/
    float: left;
    height: 14px;
    padding-left: 5px;
    padding-top: 0px;
    /*border-right: 1px solid #000;*/
    /*margin-bottom: 10px;*/
}

.info_compra li#icon_info{
    background-color: #acacac;
    margin-bottom: 10px;
    padding: 2px 0 0 0;
}

.info_compra li#icon_compra{
    background-color: #ed8000;
    padding: 2px 0 0 0;
    /*margin-bottom: 10px;*/
}

.info_compra li#icon_info img, .info_compra li#icon_compra img{
    margin-left: 7px;
    float: left;
    width: 20px;
    height: 14px;
    background-repeat: no-repeat;
    background-image: url("agregar_detalle.png");
    /*background-position: 2px -71px;*/
}

.info_compra li#icon_info img{
    border-right: 1px solid #979797;
}

.info_compra li#icon_compra img{
    border-right: 1px solid #d17200;
}

.info_compra li#icon_info a{
    border-left: 1px solid #bdbdbd;
}

.info_compra li#icon_compra a{
    border-left: 1px solid #f19a33;
}

.info_compra li#icon_info img{
    background-position: -14px 0px;
}

.info_compra li#icon_compra img{
    background-position: 3px 0px;
}



.categorias_parents{
    /*height: 29px;*/
    border-top: 1px solid #ffffff;
}

.categorias_parents p{
    /*display: inline-block;*/
    /*border-top: 1px solid #ffffff;*/
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #808080;
    /*text-transform: capitalize;*/
    clear: left;
    padding-top: 1px;
    margin: 0;
}







