div.atracciones_destinos {
    border: 1px solid #c5c5c5;
    background: #ffffff;
    width: 718px;
    /*padding-bottom: 15px;*/
    display: inline-block;
}

div#atracciones{
    float: left;
    /*width: 240px;*/
    /*border-left: 1px solid #c5c5c5;*/
}

ul.title_atracciones{
    /*float: left;
    width: 240px;*/
    height: 40px;
    border-bottom: 3px solid #ed8000;
}

div#destinos{
    float: right;
    width: 478px;
    margin-left: 10px;
    /*width: 455px;*/
    /*padding-right: 10px;*/
}

ul.title_destinos{
    /*float: right;
    width: 453px;*/
    height: 40px;
    padding-right: 10px;
    border-bottom: 3px solid #ed8000;
}

ul.title_atracciones li img.left_atracciones, ul.title_destinos li img.left_destinos{
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 9px;
    background-repeat: no-repeat;
    background-image: url("iconografia.png");
}

ul.title_atracciones li img.left_atracciones{
    background-position: -125px 1px;
    margin-left: 10px;
}

ul.title_destinos li img.left_destinos{
    background-position: -161px 1px;
}

ul.title_atracciones li p, ul.title_destinos li p{
     float: left;
    font-family: Bebas Neue;
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
    color: #808080;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-top: 12px;
}

ul.title_atracciones li img.rigth_atracciones, ul.title_destinos li img.rigth_destinos{
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-image: url("iconografia.png");
    background-position: -35px -71px;
}

ul.products_atracciones{
    margin-top: 15px;
    padding-left: 10px;
}

ul.products_atracciones li{
    float: left;
    /*display: inline;*/

}

ul.products_atracciones li.products_atracciones_item {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

ul.products_atracciones li img{
    border: solid 3px #c5c5c5;
    margin-bottom: 5px;
}

ul.products_atracciones li p{
    clear: left;
    padding: 0 0 0px 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    /*text-transform: capitalize;*/
    color: #808080;
    /*padding-bottom: 10px;*/
}

ul.products_atracciones li.name_atracciones{
    margin-left: 10px;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    /*text-transform: capitalize;*/
    color: #4d4d4d;
    /*padding-bottom: 5px;*/
    white-space: pre-line;
    width: 100px;
    /*height: 37px;*/
    line-height: 120%;
}

ul.products_atracciones li.name_destino{
    margin-left: 10px;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    /*text-transform: capitalize;*/
    color: #1d95cb;
    /*padding-bottom: 5px;*/
    width: 100px;
    line-height: 120%;
}

ul.products_atracciones li#icon_info_attr{
    background-color: #acacac;
    margin: 5px 0 0 10px;
    padding: 0px;
    height: 20px;
    width: 99px;
}

/*ul.products_atracciones li#icon_info_attr a{*/
    /*font-family: arial;*/
    /*font-size: 10px;*/
    /*font-weight: bold;*/
    /*color: #ffffff;*/
    /*text-transform: uppercase;*/
    /*padding-left: 5px;*/
    /*border-left: 1px solid #bdbdbd;*/
    /*height: 14px;*/
    /*margin: 0;*/
    /*float: left;*/
    /*padding-left: 5px;*/
    /*padding-top: 2px;*/
/*}*/

/*ul.products_atracciones li#icon_info_attr img{*/
    /*border-right: 1px solid #979797;*/
    /*margin-left: 5px;*/
    /*float: left;*/
    /*border: none;*/
    /*width: 20px;*/
    /*height: 14px;*/
    /*background-repeat: no-repeat;*/
    /*background-image: url("agregar_detalle.png");*/
    /*background-position: -14px 0px;*/
    /*padding: 0;*/
/*}*/

ul.products_destinos{
    margin-top: 15px;
}

ul.products_destinos li{
    /*width: 100px;
    height: 100px;
    float: left;*/
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    /*text-transform: capitalize;*/
    color: #1d95cb;
    line-height: 120%;
    /*margin-right: 5px;
    margin-left: 5px;*/
    /*white-space: pre-line;*/
    height: 118px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

ul.products_destinos li img{
    border: solid 3px #c5c5c5;
    height: 70px;
    width: 94px;
    margin-bottom: 5px;
}

ul.products_destinos li:nth-child(1){
    margin-left: 0;
}

ul.products_destinos li:nth-child(4){
    margin-right: 0;
}

ul.products_destinos li:nth-child(5){
    margin-left: 0;
}

ul.products_destinos li:nth-child(8){
    margin-right: 0;
}

ul.products_destinos li:nth-child(9){
    margin-left: 0;
}

ul.products_destinos li:nth-child(12){
    margin-right: 0;
}




