/*Esto no debe ir aqui, pues es de contacto*/

div#contact-us-form {
    margin-left: 10px;
}


div#contact-us-form input:focus, div#contact-us-form textarea:focus, div#contact-us-form select:focus {
    border: 1px solid #ed8000;
}

div#contact-us-form select {
    width: 293px;
}


div#content {
    /*border: none;*/
}

ul#products li.show-out {
    min-width: 718px;
    border: 1px solid #D9D9DB;
}

ul#products li.show-in {
    padding-bottom: 10px;
    border-bottom: 1px solid #D9D9DB;
}

ul#products li {
    text-align: left;
    margin-bottom: 5px;
    font-weight: normal;
    min-height: 165px;
    /*min-width: 718px;*/
    vertical-align: top;
    display: inline-block;
}

ul#products li a {
    font-family: arial, helvetica, sans-serif;
}

ul#products li.show-out:hover {
    border: 1px solid #EE8100;
}

ul#products li .product-image, ul#rooms li .product-image {
    height: 159px;
    width: 214px;
    border: 3px solid #c5c5c5;
    padding: 0px;
}

ul#products li .product-image-transfer {
    height: 199px;
    width: 94px;
    float: left;
    border: 3px solid #c5c5c5;
    padding: 0;
}

ul#products li .product-image-transfer-small {
    height: 120px;
    width: 94px;
    float: left;
    border: 3px solid #c5c5c5;
    padding: 0;
}

ul#products li:hover .product-image {
    border: 3px solid #c5c5c5;
}



/*-------------------BLOQUES--------------------------------------------------*/

div#block-one {
    margin: 10px 9px 10px 10px;
}

div#block-one-room {
    margin: 10px 9px 10px 0px;
}

div#block-one-transfer {
    margin: 10px 10px 10px 10px;
    float: left;
}

div#block-one-transfer {
    margin: 10px 10px 10px 10px;
    float: left;
}

div#block-one-destination {
    margin: 10px 9px 10px 0px;
}

div#block-two {
    margin: 10px 10px 10px 9px;
}

div#block-two-room {
    margin-top: 10px;
}

div#block-two-transfer {
    margin: 10px 0px 10px 10px;
    /*width: 460px;*/
    /*float: right;*/
}

div#block-two-destination {
    margin: 10px 0px 10px 9px;
}

div#head-one {
    margin-bottom: 0px;
    height: 26px;
}

div#head-one-transfer {
    margin-bottom: 0px;
}

.no-image {
    margin-top: 10px !important;
}

#taxon_products nav.pagination {
    height: 30px;
    width: 700px;
    background-color: #4d4d4d;
    margin-top: 15px;
    padding: 10px 10px 0px 10px;
    text-align: center;
}

#taxon_products nav.pagination span.first,
#taxon_products nav.pagination span.next {
    margin: 0px 10px 0px 0px;
    text-align: center;
}

#taxon_products nav.pagination span.prev {
    margin: 0px 22px 0px 0px;
    text-align: center;
}

#taxon_products nav.pagination span.last {
    margin: 0px;
    text-align: center;
}

#taxon_products nav.pagination span.first a:link,
#taxon_products nav.pagination span.prev a:link,
#taxon_products nav.pagination span.next a:link,
#taxon_products nav.pagination span.last a:link {
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
}

#taxon_products nav.pagination span.first a:visited,
#taxon_products nav.pagination span.prev a:visited,
#taxon_products nav.pagination span.next a:visited,
#taxon_products nav.pagination span.last a:visited {
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
}

#taxon_products nav.pagination span.first a:hover,
#taxon_products nav.pagination span.prev a:hover,
#taxon_products nav.pagination span.next a:hover,
#taxon_products nav.pagination span.last a:hover {
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff !important;
}

#taxon_products nav.pagination span.page a:link,
#taxon_products nav.pagination span.page a:visited,
#taxon_products nav.pagination span.page a:hover {
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    color: #c5c5c5 !important;
}

#taxon_products nav.pagination span.page {
    margin: 0px 18px 0px 0px;
    text-align: center;
    border-radius:15px;
}

#taxon_products nav.pagination span.uno {
    padding: 2px 4px 2px 8px;
}

#taxon_products nav.pagination span.more {
    padding: 2px 8px 2px 8px;
}

#taxon_products nav.pagination span.page:hover {
    background-color: #808080;
    color: #c5c5c5;
}

#taxon_products nav.pagination span.current {
    color: #ffffff;
}

#taxon_products nav.pagination span.gap {
    padding: 2px 4px 2px 4px;
    color: #c5c5c5;
}

/*-------------------Para el listado de los nombres de vuelos----------------------------------------------*/
div#head-one-transfer ul li{
    float: left;
    min-height: 20px;
    min-width: 20px;
    border: none;
    /*background: #ff0000;*/
    margin-right: 0px;
}

div#head-one-transfer ul li:hover{
    border: none;
}

/*div#head-one-transfer ul li.img_ida{
    height: 16px;
    width: 20px;
    background: transparent no-repeat;
    background-image: url('ida_vuelta.png');
    background-position: 2px 3px;
}

div#head-one-transfer ul li.img_vuelta{
    height: 16px;
    width: 20px;
    background: transparent no-repeat;
    background-image: url('ida_vuelta.png');
    background-position: 0px -16px;
}*/


/*-------------------fin Para el listado de los nombres de vuelos----------------------------------------------*/

div#head-detail-one {
    margin-top: 25px;
    margin-bottom: 15px;
}

div#head-two {
    margin-bottom: 8px;
}

div#head-two-transfer {
    margin-bottom: 5px;
    clear: left;

}

div#head-two-transfer ul li{
    float: left;
    min-height: 20px;
    min-width: 20px;
    border: none;
    /*background: blue;*/
    margin-right: 10px;

    font-family: arial, helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    text-transform: capitalize;
    color: #acacac;
}

/*div#head-two-transfer ul li.img_flag{
    height: 20px;
    width: 16px;
    background: transparent no-repeat;
    background-image: url('flags/cu.png');
    background-position: 0px 0px;

}*/

div#description {
    margin-bottom: 10px;
    border-bottom: 1px dotted #c5c5c5;
    padding-bottom: 3px;
}

div.description-transfer {
    clear: left;
    margin-bottom: 10px;
    border-top: 1px dotted #c5c5c5;
    border-bottom: 1px dotted #c5c5c5;
    padding-bottom: 3px;
}

/*******************Detalles de los transfers**********************/

div#box-vuelta{
    border-top:none;
}

div#box-ida{
    padding-top: 5px;
    margin-bottom: 5px;
}

div#box-ida ul li, div#box-vuelta ul li{
    float: left;
    min-height: 16px;
    min-width: 15px;
    border: none;
    /*background: blue;*/
    margin-right: 10px;
    margin-bottom: 0;
    font-family: arial, helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    /*text-transform: capitalize;*/
    color: #808080;
}

div#box-ida ul li:hover, div#box-vuelta ul li:hover{
    border: none;
}

div#box-ida li.ida-vuelta-text:hover,
div#box-vuelta li.ida-vuelta-text:hover,
div#box-vuelta li.destino-ida-vuelta-text:hover,
div#box-ida li.destino-ida-vuelta-text:hover{
    border-right: 1px solid #c5c5c5;
}

div#box-vuelta li.ida-vuelta-text, div#box-ida li.ida-vuelta-text{
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #4d4d4d;
    border-right: 1px solid #c5c5c5;
    padding-right: 10px;
    height: 16px;
}

div#box-vuelta li.destino-ida-vuelta-text, div#box-ida li.destino-ida-vuelta-text{
    font-family: arial, helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    /*text-transform: capitalize;*/
    color: #1d95cb;
    border-right: 1px solid #c5c5c5;
    padding-right: 10px;
}

div#box-ida li.destino-ida-flight, div#box-vuelta li.destino-ida-flight {
    font-family: arial, helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    /*text-transform: capitalize;*/
    color: #1d95cb;
    border: none;
    padding-right: 10px;
}

div#head-one-transfer li.tng-feat, div#box-ida li.tng-feat, div#box-vuelta li.tng-feat {
    min-width: 15px;
    margin-right: 0px;
}

div#head-one-transfer p.product-name-no-link {
    padding: 0px;
}

div#box-ida .triangulo-izq {
    margin-top: 2px;
}

div#box-vuelta .triangulo-der {
    margin-top: 2px;
}

.time{
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    /*text-transform: uppercase;*/
    color: #4d4d4d;
}

.play{
    width: 16px;
    height: 16px;
    background-color: #ff0000;
    margin-right: 10px;
}

.reverse{
    width: 16px;
    height: 16px;
    background-color: #ff0000;
    margin-right: 10px;
}

.toprow{
    margin-top: 5px;
}

.horarios{
    margin-left: 15px;
}

/*******************End detalles de los transfers**********************/

div#detail-description {
    height: 185px;
    background-color: #f2f2f2;
    padding: 15px 10px 0px 10px;
}

div#detail-accommodation-description {
    height: 175px;
    background-color: #f2f2f2;
    padding: 15px 10px 15px 10px;
}

div#details, div#details-transfer {
    height: 50px;
}

div#price {
    height: 50px;
    background-color: #f2f2f2;
}

div#price-transfer {
    height: 50px;
    background-color: #f2f2f2;
   /* width: 100px;*/
    float: left;
    /*margin-right: 20px;*/
}

div#cart-form {
    height: 20px;
    background-color: #EE8100;
    padding: 15px 0px 15px 0px;
}

#product-images div#main-image {
    height: 194px;
    /*margin-bottom: 20px;*/
    border: 3px solid #c5c5c5;
}

div#thumbnails {
    min-height: 60px;
}

ul#product-thumbnails {
    margin-top: 0px;
}

ul#product-thumbnails li {
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
    margin-right: 16px;
    border: none;
    background-color: #f2f2f2;
}

ul#product-thumbnails li:nth-child(1) {
    margin-left: 0px;
}

ul#product-thumbnails img{
    padding: 0px;
}

ul#product-thumbnails li:nth-child(5) {
    margin-right: 0px;
}

ul#product-thumbnails li:nth-child(6) {
    margin-left: 0px;
}

ul#product-thumbnails li:nth-child(10) {
    margin-right: 0px;
}

div#map-flights {
    height: 252px;
    background-color: #f2f2f2;
    border-top: 3px solid #00a2e2;
    padding: 15px 10px 10px 10px;
}

div#map-programs {
    height: 252px;
    background-color: #f2f2f2;
    border-top: 3px solid #81a521;
    padding: 15px 10px 10px 10px;
}

div#map-tours {
    height: 252px;
    background-color: #f2f2f2;
    border-top: 3px solid #00aea1;
    padding: 15px 10px 10px 10px;
}

div#map-accommodation {
    height: 252px;
    background-color: #f2f2f2;
    border-top: 3px solid #8b67b9;
    padding: 15px 10px 10px 10px;
}

div#map-offers {
    height: 252px;
    background-color: #f2f2f2;
    border-top: 3px solid #e93c3c;
    padding: 15px 10px 10px 10px;
}

div#map-destinations {
    height: 252px;
    background-color: #f2f2f2;
    border-top: 3px solid #ed8000;
    padding: 15px 10px 10px 10px;
}

div#attractions-flights {
    background-color: #f2f2f2;
    border-top: 3px solid #00a2e2;
    border-bottom: 1px solid #c5c5c5;
    padding: 15px 10px 10px 10px;
}

div#attractions-programs {
    background-color: #f2f2f2;
    border-top: 3px solid #81a521;
    border-bottom: 1px solid #c5c5c5;
    padding: 15px 10px 10px 10px;
}

div#attractions-tours {
    background-color: #f2f2f2;
    border-top: 3px solid #00aea1;
    border-bottom: 1px solid #c5c5c5;
    padding: 15px 10px 10px 10px;
}

div#attractions-accommodation {
    background-color: #f2f2f2;
    border-top: 3px solid #8b67b9;
    border-bottom: 1px solid #c5c5c5;
    padding: 15px 10px 10px 10px;
}

div#attractions-offer {
    background-color: #f2f2f2;
    border-top: 3px solid #e93c3c;
    border-bottom: 1px solid #c5c5c5;
    padding: 15px 10px 10px 10px;
}

div#attractions-destinations {
    background-color: #f2f2f2;
    border-top: 3px solid #ed8000;
    border-bottom: 1px solid #c5c5c5;
    padding: 15px 10px 10px 10px;
}

div#detail-options {
    float: left;
    border-top: 1px solid #ed8000;
    padding: 10px 0px 25px 0px;
}

div#detail-options a.detail-options-right {
    float: right;
    color: #1d95cb;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
}

div#detail-rooms {
    float: right;
    border-top: 1px solid #ed8000;
    padding: 10px 0px 25px 0px;
}

div#detail-information {
    float: left;
}

div#product-graph {
    display: inline;
}

div#product-show {
    width: 960px;
}

div#more {
    text-align: center;
}

div#title-in {
    margin-top: 10px;
    border-top: 1px solid #D9D9DB;
    padding-top: 10px;
}

div#title-in a {
    float: right;
    color: #1d95cb;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
}

/*--------------------------------TEXTOS--------------------------------------*/

a:link.product-name {
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #4d4d4d;
    margin-right: 7px;
}

div#head-two ul#product-head li a:link.product-name {
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #1d95cb;
    margin-right: 0px;
}

div#head-two ul#product-head li a:visited.product-name {
    color: #1d95cb;
}

ul#products li a.name_with_recomended_icon {
    display: inline;
}

a:visited.product-name {
    /*color: #c5c5c5;*/
    color: #4d4d4d;
}

.product-name-no-link {
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #4d4d4d;
    /*text-transform: capitalize;*/
    margin-right: 7px;
}

a:link.room-name {
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 21px;
    color: #4d4d4d;
    margin-right: 7px;
}

.product-detail-name{
    font-family: arial, helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #4d4d4d;
    padding: 0px;
    margin-right: 10px;
}

.product-destination-name{
    font-family: bebas neue;
    font-size: 48px;
    font-weight: normal;
    color: #ed8000;
    padding: 10px 0px 10px 0px;
    margin-right: 10px;
}

.product-detail-title-description{
    font-family: arial, helvetica, sans-serif;
    font-size: 24px;
    color: #4d4d4d;
    padding: 0px;
}

.product-detail-description{
    height: 120px;
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #4d4d4d;
    /*border-bottom: 1px dotted #c5c5c5;*/
    margin-bottom: 2px;
}

a:link.product-link{
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #1D95CB;
    line-height: 16px;
}

div#description a:link.product-link-in{
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #1D95CB;
    display: inline;
    line-height: 16px;
}

.product-text {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #4d4d4d;
    line-height: 16px;
    text-align: left;
    padding: 0px;
}

.product-title-map {
    font-family: Bebas Neue;
    font-size: 21px;
    color: #808080;
    display: inline;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.product-title-in {
    font-family: Bebas Neue;
    font-size: 21px;
    color: #808080;
    display: inline;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.product-price {
    font-family: Bebas Neue;
    font-size: 26px;
    font-weight: normal;
    color: #4d4d4d;
    text-align: center;
    padding: 15px 0;
}

.product-price label {
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #808080;
    text-align: center;
    padding-top: 9px;
}

.product-info {
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #808080;
    line-height: 16px;
}

.product-info-value {
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #4d4d4d;
    display: inline;
    padding: 0px;
}

.product-info-label {
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #4d4d4d;
    padding: 0px;
}

.product-info-in {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    color: #808080;
}

.moneda {
    font-family: Bebas Neue;
    font-size: 18px;
    color: #4d4d4d;
    text-align: center;
    padding-top: 7px;
}

div#details .product-text-button, li#icon_info_attr .product-text-button {
    font-family: arial, helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 16px;
}

div#details-transfer .product-text-button {
    font-family: bebas neue;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.product-detail-text-button {
    font-family: Bebas Neue;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.product-detail-title-options{
    font-family: arial, helvetica, sans-serif;
    font-size: 24px;
    color: #4d4d4d;
    padding: 0px;
    margin-bottom: 10px;
}


/*---------------------------------LISTAS-------------------------------------*/

ul#product-name {
    margin: 0px;
    padding: 0px;
}

ul#product-name li {
    border: none;
    float: left;
}

ul#product-head {
    margin: 0px;
    padding: 0px;
}

ul#product-head li {
    border: none;
    float: left;
}

ul#product-head li:hover {
    border: none;
    border-right: 1px solid #c5c5c5;
}

ul#product-head li {
    min-height: 10px;
    min-width: 10px;
    margin: 0px;
    border-right: 1px solid #c5c5c5;
    padding: 0px 10px 0px 10px;
}

ul#product-head li.rent {
    border: none;
}

ul#product-head>li:first-of-type {
    padding: 0px 10px 0px 0px;
}

ul#product-head>li:last-of-type {
    border: none;
    padding: 0px 0px 0px 10px;
}

ul#product-head ul.product-data {
    display: inline;
}

ul#product-head ul.product-data li {
    min-height: 10px;
    min-width: 10px;
    margin: 0px 7px 0px 0px;
    padding: 0px;
    border: none;
}

ul#product-head ul.product-data>li:last-of-type {
    margin: 0px;
}

ul#product-head-transfer {
    margin: 0px;
    padding: 0px;
    float: left;
}

ul#product-head-transfer li:hover {
    border: none;
}

ul#product-head-transfer li {
    min-height: 10px;
    min-width: 10px;
    margin: 0px;
    padding: 0px 5px 0px 0px;
    float: left;
}

div#head-two-transfer ul#product-head-transfer ul.product-data li {
    min-height: 10px;
    min-width: 10px;
    margin: 0px 0px 0px 0px;
    padding: 0 5px 0px 0;
    border-right: 1px solid #c5c5c5;
}

div#head-two-transfer ul#product-head-transfer ul.product-data li#last{
    border-right: 0px;
}

div#head-two-transfer ul#product-head-transfer ul.product-data li.icon-destination {
    padding: 0 0px 0px 0;
    margin: 0px 5px 0px 0px;
    border-right: 0;
}

div#head-two-transfer ul#product-head-transfer ul.product-data li.icon-transfer {
    padding: 0 0px 0px 0;
    margin: 0px 5px 0px 0px;
    border-right: 0;
}

div#head-two-transfer ul#product-head-transfer li.pht-details{
    margin: 0;
}


ul#product-head-transfer ul.product-data>li:last-child {
    margin: 0px;
}

ul#product-head-map {
    margin: 0px;
    padding: 0px;
    float: left;
}

ul#product-head-map li {
    border: none;
    float: left;
    /*margin-left: 5px;*/
}

ul#product-right-map {
    margin: 0px;
    padding: 0px;
    float: right;
}

ul#product-right-map li {
    border: none;
    float: right;
    margin-right: 5px;
}

ul#product-description-more {
    margin: 0px;
    padding: 0px;
    float: left;
}

ul#product-description-more li {
    border: none;
    float: left;
    margin-left: 5px;
}


div#details ul#product-detail-icon, li#icon_info_attr ul#product-detail-icon {
    min-height: 15px;
    min-width: 14px;
    padding-right: 5px;
    margin: 0px;
    float: left;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #979797;
}

div#details ul#product-detail-icon li, li#icon_info_attr ul#product-detail-icon li {
    min-height: 10px;
    min-width: 10px;
    float: left;
    margin: 0px;
    border: none;
}

div#details ul#product-detail-text, li#icon_info_attr ul#product-detail-text {
    height: 15px;
    min-width: 54px;
    padding-left: 8px;
    margin: 0px;
    float: left;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #bdbdbd;
    
}

div#details ul#product-detail-text li, li#icon_info_attr ul#product-detail-text li {
    min-height: 10px;
    min-width: 54px;
    float: left;
    margin: 0px;
    border: none;
}

div#details ul#product-buy-icon {
    min-height: 15px;
    min-width: 14px;
    padding-right: 6px;
    margin: 0px;
    float: left;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #d17200;
}

div#details ul#product-buy-icon li {
    min-height: 10px;
    min-width: 10px;
    float: left;
    margin: 0px;
    border: none;
}

div#details-transfer ul#product-detail-icon {
    height: 19px;
    min-width: 14px;
    padding: 4px 10px 4px 10px;
    margin: 0px 0 0 0;
    float: left;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #ffffff;
}

div#details ul#product-buy-text {
    height: 15px;
    min-width: 54px;
    padding-left: 8px;
    padding-right: 0px;
    margin: 0px;
    float: left;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #f19a33;

}

div#details ul#product-buy-text li {
    min-height: 10px;
    min-width: 54px;
    float: left;
    margin: 0px;
    border: none;
    line-height: 18px;
}

div#details-transfer ul#product-detail-icon li {
    min-height: 10px;
    min-width: 10px;
    float: left;
    margin: 0px;
    border: none;
}

div#details-transfer ul#product-detail-text {
    height: 27px;
    min-width: 54px;
    padding-left: 5px;
    margin: 0px;
    float: left;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #ffffff;

}

div#details-transfer ul#product-detail-text li {
    min-height: 10px;
    min-width: 54px;
    float: left;
    margin: 0px;
    border: none;
}

ul#options {
    min-height: 10px;
    min-width: 10px;
    padding: 0px;
    border: none;
}

ul#options li {
    float: left;
    min-height: 10px;
    min-width: 10px;
    margin: 0px;
    border: none;
}

ul#options li:hover {
    border: none;
}

ul#information {
    min-height: 10px;
    min-width: 10px;
    padding: 0px;
    border: none;
    display: inline;
}

ul#information li {
    float: left;
    min-height: 10px;
    min-width: 10px;
    margin: 0px;
    border: none;
}

ul#information li:hover {
    border: none;
}

ul#amenities {
    height: 55px;
    margin: 15px 0px 0px 0px;
    list-style-type: disc;
    padding-bottom: 0px;
    /*border-bottom: 1px dotted #c5c5c5;*/
}

ul#amenities-description {
    height: 55px;
    margin: 15px 0px 10px 0px;
    list-style: disc inside none;
}

ul#amenities-description li {
    clear: left;
    margin-bottom: 5px;
}

ul#amenities-description label {
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    color: #808080;
}

ul#amenities-description p {
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    color: #4d4d4d;
    display: inline;
}

ul#variants li {
    margin-bottom: 10px;
}

ul#variants li ul li{
    width: 90px;
    float: left;
    margin: 0px;
}

ul#rooms li {
    float: left;
}

ul#rooms li.item-room {
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 10px;
}

.cart-form-left {
    height: 30px;
    float: left;
    margin-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    border-right: 1px solid #d17200;
}

.cart-form-right {
    height: 35px;
    float: left;
    padding-left: 10px;
    padding-top: 8px;
    margin-right: 20px;
    border-left: 1px solid #f19a33;
}

ul#products>li.show-in:last-of-type {
    border: none;
}

/*--------------------------BOTONES-------------------------------------------*/

/* Ejemplo
background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 95%, rgba(0,0,0,0.3) 100%); FF3.6+
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(95%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3))); Chrome,Safari4+
background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 95%,rgba(0,0,0,0.3) 100%);  Chrome10+,Safari5.1+
background-image: -o-linear-gradient(top, rgba(0,0,0,0) 95%, rgba(0,0,0,0.3) 100%);  Opera11.10+
background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 95%,rgba(0,0,0,0.3) 100%);  IE10+
background-image: linear-gradient(top, rgba(0,0,0,0.3) 95%,rgba(0,0,0,0.3) 100%);  W3C
*/

.go-to-detail-button {
    display: block;
    min-height: 14px;
    padding: 3px 8px 3px 8px;
    margin-bottom: 7px;
    background: linear-gradient(top, rgb(204, 204, 204) 0%, rgb(171, 171, 171) 75%);
    background: -moz-linear-gradient(top, rgb(204, 204, 204), rgb(171, 171, 171) 75%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(204, 204, 204)), color-stop(75%,rgb(171, 171, 171)));
    background: -webkit-linear-gradient(top, rgb(204, 204, 204) 0%, rgb(171, 171, 171) 75%);
    background: -o-linear-gradient(top, rgb(204, 204, 204) 0%, rgb(171, 171, 171) 75%);
    background: -ms-linear-gradient(top, rgb(204, 204, 204) 0%, rgb(171, 171, 171) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cccccc', endColorstr='#ababab'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cccccc', endColorstr='#ababab')"; /* IE8 */
}

.go-to-detail-button:hover {
    background: #acacac;
}

.add-to-cart {
    margin-top: 0px;
}

.add-to-cart-button {
    background: linear-gradient(top, rgb(242, 166, 77) 0%, rgb(237, 129, 0) 75%);
    background: -moz-linear-gradient(top, rgb(242, 166, 77) 0%, rgb(237, 129, 0) 75%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(242, 166, 77)), color-stop(75%,rgb(237, 129, 0)));
    background: -webkit-linear-gradient(top, rgb(242, 166, 77) 0%, rgb(237, 129, 0) 75%);
    background: -o-linear-gradient(top, rgb(242, 166, 77) 0%, rgb(237, 129, 0) 75%);
    background: -ms-linear-gradient(top, rgb(242, 166, 77) 0%, rgb(237, 129, 0) 75%);
    border: none;
    padding: 3px 9px 3px 7px;

    color: #ee8100;
}

.add-to-cart-button:hover {
    background: #ee8100;
}

.add-to-cart-button-transfer{
    background: linear-gradient(top, rgb(242, 166, 77) 0%, rgb(235, 127, 0) 75%);
    background: -moz-linear-gradient(top, rgb(242, 166, 77) 0%, rgb(235, 127, 0) 75%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(242, 166, 77)), color-stop(75%,rgb(235, 127, 0)));
    background: -webkit-linear-gradient(top, rgb(242, 166, 77) 0%,rgb(235, 127, 0) 75%);
    background: -o-linear-gradient(top, rgb(242, 166, 77) 0%, rgb(235, 127, 0) 75%);
    background: -ms-linear-gradient(top, rgb(242, 166, 77) 0%, rgb(235, 127, 0) 75%);
    border: none;
    height: 50px;
    width: 160px;
}

.add-to-cart-button-transfer:hover{
    background: #ed8000;
}

#cart-form-button {
   height: 50px;
   padding: 0px;
}

#cart-form-button ul {
   min-height: 30px;
   min-width: 30px;
}

#cart-form-button ul li {
   min-height: 18px;
   min-width: 18px;
   text-align: center;
   border: none;
}

#cart-form-button ul li:hover {
   border: none;
}


/*---------------------------------ICONOS-------------------------------------*/

ul#information .icon-stars-5, ul#product-name .icon-stars-5, ul#product-head .icon-stars-5, li#product_element .icon-stars-5 {
    height: 15px;
    width: 67px;
    background-image: url('iconografia.png');
    background-position: 71px 73px;
    /*margin-top: 5px;*/
}

/*.icon-stars-5 {*/
    /*height: 15px;*/
    /*width: 67px;*/
    /*background: no-repeat;*/
    /*background-image: url('iconografia.png');*/
    /*background-position: 71px 73px;*/
    /*margin-top: 5px;*/
/*}*/

ul#information .icon-stars-4, ul#product-name .icon-stars-4, li#product_element .icon-stars-4 {
    height: 15px;
    width: 67px;
    background-image: url('iconografia.png');
    background-position: 71px 59px;
    /*margin-top: 5px;*/
}

ul#information .icon-stars-3, ul#product-name .icon-stars-3, li#product_element .icon-stars-3 {
    height: 14px;
    width: 67px;
    background-image: url('iconografia.png');
    background-position: 71px 46px;
    /*margin-top: 5px;*/
}

ul#information .icon-stars-2, ul#product-name .icon-stars-2, li#product_element .icon-stars-2 {
    height: 13px;
    width: 67px;
    background-image: url('iconografia.png');
    background-position: 71px 32px;
    /*margin-top: 5px;*/
}

ul#information .icon-stars-1, ul#product-name .icon-stars-1, li#product_element .icon-stars-1 {
    height: 15px;
    width: 67px;
    background-image: url('iconografia.png');
    background-position: 71px 17px;
    /*margin-top: 5px;*/
}

ul#product-head .icon-destination, div#box-ida .icon-destination {
    height: 16px;
    width: 15px;
    background-image: url('iconografia.png');
    background-position: 16px -1px;
}

.icon-transfer {
    height: 16px;
    width: 16px;
    background-image: url('iconografia.png');
    background-position: 0px -92px;
}

.icon-calendar {
    height: 17px;
    width: 15px;
    background-image: url('iconografia.png');
    background-position: 160px 54px;
}

.icon-airplane {
    height: 18px;
    width: 20px;
    background-image: url('iconografia.png');
    background-position: 180px 90px;
}

.icon-hotel {
    height: 18px;
    width: 20px;
    background-image: url('iconografia.png');
    background-position: 180px -1px;
}

.icon-car {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: 180px 72px;
}

ul#options .icon-check, ul#product-data .icon-check {
    height: 15px;
    width: 14px;
    background-image: url('iconografia.png');
    background-position: 140px -2px;
}

.icon-info {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: 143px 108px;
}

div#details .icon-detail, #icon_info_attr .icon-detail {
    height: 14px;
    width: 14px;
    background-image: url('agregar_detalle.png');
    background-position: -18px 0px;
    margin: 0px;
}

div#details .icon-buy {
    height: 14px;
    width: 14px;
    background-image: url('agregar_detalle.png');
    background-position: 0px 0px;
    margin: 0px;
}

.icon-buy-transfer {
    height: 19px;
    width: 21px;
    background-image: url('mi_viaje.png');
    background-position: 0px 0px;
    margin: 0px;

}

.icon-zoom {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -35px -90px;
}

.icon-map-flights {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -108px 0px;
}

.icon-map-programs {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -108px -18px;
}

.icon-map-tours {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -108px -36px;
}

.icon-map-accommodation {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -108px -54px;
}

.icon-map-offers {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -108px -72px;
}

.icon-map-destinations {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -108px 0px;
}

.icon-attraction-flights{
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -126px 0px;
}

.icon-attraction-programs {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -126px -18px;
}

.icon-attraction-tours {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -126px -36px;
}

.icon-attraction-accommodation {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -126px -54px;
}

.icon-attraction-offers {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -126px -72px;
}

.icon-attraction-destinations{
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -126px 0px;
}

.icon-description-more-on {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -18px -125px;
    margin-left: 200px;
}

.icon-description-more-off {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: 0px -125px;
}

.icon-description-less-on {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -18px -147px;
}

.icon-description-less-off {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: 0px -147px;
}

ul#product-head .icon-tripadvisor-5-0, ul#opinion .icon-tripadvisor-5-0 {
    height: 14px;
    width: 70px;
    background-image: url('valoracion.png');
    background-position: 0px 0px;
}

ul#product-head .icon-tripadvisor-4-5, ul#opinion .icon-tripadvisor-4-5 {
    height: 14px;
    width: 70px;
    background-image: url('valoracion.png');
    background-position: 0px -15px;
}

ul#product-head .icon-tripadvisor-4-0, ul#opinion .icon-tripadvisor-4-0 {
    height: 14px;
    width: 70px;
    background-image: url('valoracion.png');
    background-position: 0px -29px;
}

ul#product-head .icon-tripadvisor-3-5, ul#opinion .icon-tripadvisor-3-5 {
    height: 14px;
    width: 70px;
    background-image: url('valoracion.png');
    background-position: 0px -43px;
}

ul#product-head .icon-tripadvisor-3-0, ul#opinion .icon-tripadvisor-3-0 {
    height: 14px;
    width: 70px;
    background-image: url('valoracion.png');
    background-position: 0px -55px;
}

ul#product-head .icon-tripadvisor-2-5, ul#opinion .icon-tripadvisor-2-5 {
    height: 14px;
    width: 70px;
    background-image: url('valoracion.png');
    background-position: 0px -69px;
}

ul#product-head .icon-tripadvisor-2-0, ul#opinion .icon-tripadvisor-2-0 {
    height: 14px;
    width: 70px;
    background-image: url('valoracion.png');
    background-position: 0px -83px;
}

ul#product-head .icon-tripadvisor-1-5, ul#opinion .icon-tripadvisor-1-5 {
    height: 14px;
    width: 70px;
    background-image: url('valoracion.png');
    background-position: 0px -97px;
}

ul#product-head .icon-tripadvisor-1-0, ul#opinion .icon-tripadvisor-1-0 {
    height: 14px;
    width: 70px;
    background-image: url('valoracion.png');
    background-position: 0px -111px;
}

ul#product-head .icon-tripadvisor-0-5, ul#opinion .icon-tripadvisor-0-5 {
    height: 14px;
    width: 70px;
    background-image: url('valoracion.png');
    background-position: 0px -125px;
}

ul#product-head .icon-tripadvisor-0-0, ul#opinion .icon-tripadvisor-0-0 {
    height: 14px;
    width: 70px;
    background-image: url('valoracion.png');
    background-position: 0px -139px;
}

.icon-more {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('iconografia.png');
    background-position: -35px -71px;
}

.icon-viaje {
    height: 18px;
    width: 22px;
    background-image: url('mi_viaje.png');
    background-position: 0px 0px;
}

.icon-door {
    height: 20px;
    width: 20px;
    background-image: url('iconos-renta-de-autos.png');
    background-position: 0px 0px;
}

.icon-pax {
    height: 20px;
    width: 20px;
    background-image: url('iconos-renta-de-autos.png');
    background-position: -20px 0px;
}

.icon-bag {
    height: 20px;
    width: 20px;
    background-image: url('iconos-renta-de-autos.png');
    background-position: -40px 0px;
}

.icon-ac {
    height: 20px;
    width: 20px;
    background-image: url('iconos-renta-de-autos.png');
    background-position: -60px 0px;
}

.icon-pd {
    height: 20px;
    width: 20px;
    background-image: url('iconos-renta-de-autos.png');
    background-position: -80px 0px;
}

.ida-flight {
    height: 16px;
    width: 16px;
    background-image: url('ida_vuelta.png');
    background-position: 0px 0px;
    border: none;
}

.vuelta-flight {
    height: 16px;
    width: 16px;
    background-image: url('ida_vuelta.png');
    background-position: 0px -16px;
    border: none;
}

.icon-calendar {
    height: 18px;
    width: 18px;
    background-image: url('iconografia.png');
    background-position: -18px -108px;
}

div#icon-recomended-programs {
    height: 26px;
    width: 26px;
    background-image: url('iconografia.png');
    background-position: -53px -25px;
    float: right;
    margin: 0px;
}

div#icon-recomended-tours {
    height: 26px;
    width: 26px;
    background-image: url('iconografia.png');
    background-position: -53px -50px;
    float: right;
    margin: 0px;
}

div#icon-recomended-accommodation {
    height: 26px;
    width: 26px;
    background-image: url('iconografia.png');
    background-position: -53px -100px;
    float: right;
    margin: 0px;
}

/*---------------------------OTROS--------------------*/

.country {
    margin-top: 5px;
}

.country p {
    display: inline;
    text-transform: capitalize;
}

div.triangulo-izq {
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-left: 10px solid #ed8000;
    border-bottom: 5px solid transparent;
    margin-top: 8px;
}

div.triangulo-der {
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-right: 10px solid #ed8000;
    border-bottom: 5px solid transparent;
    margin-top: 8px;
}

div.triangulo-der-none {
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-right: 10px solid #f2f2f2;
    border-bottom: 5px solid transparent;
    margin-top: 8px;
}

div.tng-min {
    margin-top: 2px;
}

div.off {
    border-right: 10px solid #f2f2f2;
}

.rent-car {
    margin-top: 10px;
}

#destination-flag {
    padding-top: 18px;
}

ul#product-head li#destination-destinations {
    border: none;
    padding-right: 0px;
    padding-top: 3px;
}

#home_recommend_image {
    height: 165px;
}











