/*
 *= require store/spree_core
*/

.banner {
    margin:0 auto 0 10px;
    background: none;
    border: 5px solid #4d4d4d;
    width:690px;
    height:165px;
}

.banner ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.banner ul li {
	float: left;
	background: none;
	margin: 2px;
}

.banner img {
	border: 0;
	-webkit-box-shadow: 0px;
	-moz-box-shadow: 0px ;
	box-shadow: 0px;
}