<% content_for :sidebar do %>
    <div id="sidebar_facebook">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like-box"
    data-href="https://www.facebook.com/grandslamcuba" data-width="230" data-height="545"
    data-show-faces="true" data-stream="true" data-header="true">
    </div>

    </div>

<% end %>
