<%
  product_type = line_item.product.product_type
%>

<%if product_type %>
  <br/>
  <h4><%= Spree.t(:reservation_details) %></h4>
  <%product_type.context_option_types.each do |cot|%>
    <strong><%= cot.presentation%></strong>: <%= line_item.context.persisted_option_value(cot)%><br/>
  <%end%>
<%end%>