<div data-hook="product_map">
  <% if product.has_location? %>
      <div id="map-<%= get_category(product) %>">
        <ul id="product-head-map">
            <li class="icon-map-<%= get_category(product) %>"></li>
            <li class="product-title-map"><%= t('map') %></li>
        </ul>
        <!--<ul id="product-right-map">
            <li><a class="product-link"><%#= t('Zoom') %></a></li>
            <li class="icon-zoom"></li>
        </ul>-->
        <%= product_map (@product || product) %>
      </div>
  <% end %>
</div>
