<!-- no need for thumbnails unless there is more then one image -->

<% if product.images.size > 1 %>
    <ul id="product-thumbnails" class="thumbnails inline" data-hook>
        <% images = product.images[0..9] %>
        <% images.each do |img| %>
            <li class="tmb-all" id="tmb-<%= img.id.to_s %>"><%= link_to image_tag(img.attachment.url(:mini)), img.attachment.url(:product) %></li>
        <% end %>
    </ul>
<% end %>
