<div id="new-star" data-rating="0"></div>
<script type="text/javascript">
<!--//
jQuery(document).ready(function() {
	$("#new-star").raty({
		cancel: true,
		half:  true,
		width: 180,
		starHalf: 'circle-half<%= "-big" if (Spree::Config[:star_big] == true) %>.png',
		starOff: 'circle-off<%= "-big" if (Spree::Config[:star_big] == true) %>.png',
		starOn:	'circle-on<%= "-big" if (Spree::Config[:star_big] == true) %>.png',
		path: '/assets/',
		click: function(score, evt) {
			$("#review_rating").val(score);
		}
	});
});
//-->
</script>
