<li class="alpha ten columns child">
  <div class="child-image">
    <%= small_image(child, :itemprop => "image") %>
  </div>
  <div class="child-title">
    <% child.option_values.each do |ov|%>
      <div class="child-pair">
        <span class="child-key"><%= ov.option_type.presentation %>:</span>
        <span class="child-value"><%= ov.presentation %></span>
      </div>
    <% end %>
    <div class="child-pair">
      <span class="child-key">SKU:</span>
      <span class="child-value"><%= child.sku %></span>
    </div>
  </div>
</li>
