<div id="search_box" class="ten columns omega">
  <%= form_tag({:controller => :home, :action => :index}, {:method => :get, :id => :home_search_box}) do %>
    <% active = Spree::Product.find_by_permalink(params[:id]).product_type.name %>
    <%= render(:partial => "spree/shared/search_box", :locals => {:active => active}) %>
    <%= submit_tag Spree.t('search'), :id => :submit %>
    <input type="button" value="Update Price" id='update_price' />
  <% end %>
</div>
