<span id="new_add_option_value" data-hook>
  <% if @option_type.attr_type == 'selection' %>
    <%= link_to_add_fields Spree.t(:add_option_value), "tbody#option_values", :class => 'button icon-plus' %>
  <% end %>
</span>
