<div id="product-show" data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>

  <%= render(:partial => "spree/products/product_detail_left", :locals => { :product => product }) %>

  <div class="columns eleven" data-hook="product_right_part">

    <%= render(:partial => "spree/products/cart_form", :locals => { :product => product }) %>

    <div id="detail-options" class="columns alpha eleven row">
      <p class="product-detail-title-options"><%= t('include') %>:</p>
      <ul id="options">

        <% product.properties.each do |p| %>
            <% if p.property_type_id == Spree::PropertyType.find_by_name("#{get_category(product)} Include").id %>
                <li><ul class="five columns alpha product-option"><li class="icon-check"></li><li class="product-info"><%= p.presentation %></li></ul></li>
            <% end %>
        <% end %>

      </ul>
    </div>

  </div>
</div>