<div class="col-12">
  <% Spree::ProductType.all.each do |pt| %>
    <div class="field checkbox mb-2">
        <label>
          <%= check_box_tag('q[product_type_id_eq_any][]', pt.id) %>
          <%= pt.presentation %>
        </label>
    </div>
  <%end%>
</div>
