<div>
  <span class="price selling ajax-price" itemprop="price" data-product-hook="<%= product.id %>"
    <%= image_tag 'ajax-loader.gif' %>
  </span>
  <span itemprop="priceCurrency" content="<%= product.currency %>"><%= product.currency %></span>
</div>

