<div class="col-12 col-lg-6">

  <%#-------------------------------------------------%>
  <%# Cart Setting                               %>
  <%#-------------------------------------------------%>
  <div class="card mb-3" id="general-settings-cart" data-hook="general_settings_cart">
    <div class="card-header">
      <h1 class="card-title mb-0 h5">
        <%= Spree.t(:no_cart)%>
      </h1>
    </div>

    <div class="card-body">
      <% type = Spree::Config.preference_type(:use_cart) %>
        <div class="checkbox">
          <%= label_tag :use_cart do %>
            <%= preference_field_tag(key, Spree::Config[:use_cart], type: type) %>
            <%= Spree.t(:use_cart) %>
          <% end %>
        </div>
    </div>
  </div>
</div>
